<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add article</title>
</head>
<body>
<p> Добавь сюда свою статью</p>

<form th:method = "POST" th:action="@{/articles}" th:object = "${article}">
    <label> Укажите тему статьи
        <select th:field="*{articleGroup}">
            <option th:each="arGr : ${article.articleGroups}" th:value="${arGr}" th:text="${arGr.getArticleGroupInRus()}">
            </option>
        </select>
    </label>

    </br>
    <label for="articleHeader">Введите название статьи</label>
    <input type = "text" th:field = "*{articleHeader}" id = "articleHeader">
    </br>
    <label for="articleText">Введите текст статьи</label>
    <input type = "text" th:field = "*{articleText}" id = "articleText">
    <input type = "submit" value = "Сохранить">
</form>

</body>
</html>