<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Article </title>
</head>
<body>
<header> Новости  </header>

<p th:text = "${article.getArticleGroup().getArticleGroupInRus()}"> </p>
<p th:text = "${article.getArticleHeader()}"> </p>
<p th:text = "${article.getArticleText()}"> </p>

<a th:href="@{/articles/{id}/edit(id = ${article.getArticleId()})}"> Обновить инофрмацию по статье </a>

</br>
<form th:method="DELETE" th:action="@{/articles/{id}(id = ${article.getArticleId()})}">
    <input type = submit value = "Удалить статью"/>
</form>

</br>

<a href="/articles"> Вернуться к списку статей </a>

</body>
</html>